.env
.env.local
.env.staging

*.sql
*.zip
*.tar.gz

logs/
tmp/

src/wp-content/uploads/*
!src/wp-content/uploads/.gitkeep

src/wp-content/plugins/*
!src/wp-content/plugins/cm-ecommerce


src/wp-content/themes/*
src/wp-content/themes/understrap
!src/wp-content/themes/understrap-child
!src/wp-content/themes/casino

node_modules
vendor

.DS_Store
.idea
.vscode
